<template>
  <div class="adduserbox">
    <el-row>
      <el-col :span="8">
        <div class="grid-content bg-purple-light">
          <el-radio-group v-model="labelPosition" size="small"  @change="toFlag">
            <el-radio-button label="left">添加用户</el-radio-button>
            <el-radio-button label="top">更新用户</el-radio-button>
          </el-radio-group>
          <div style="margin: 20px;"></div>
          <el-form :label-position="labelPosition" :model="formLabelAlign1" size="mini" style="text-align: left; padding :0 0 0 13px">
            <el-form-item>
            <el-select v-model="sVal" placeholder="请选择用户名" class="sele" v-if="flag" >
              <!-- 获取用户名渲染在这 -->
            <el-option
                  v-for="item in user"
                  :key="item.user_id"
                  :label="item.user_name"
                  :value="item.user_id">
                </el-option>
              </el-select>
            </el-form-item>
            <el-form-item>
              <el-input v-model="formLabelAlign1.name" placeholder="请输入用户名"></el-input>
            </el-form-item>
            <el-form-item>
              <el-input v-model="formLabelAlign1.region" placeholder="请输入密码"></el-input>
            </el-form-item>
            <el-form-item>
              <el-select v-model="value" placeholder="请选择身份ID" class="left">
                <el-option
                  v-for="item in options"
                  :key="item.identity_id"
                  :label="item.identity_text"
                  :value="item.identity_id">
                </el-option>
              </el-select>
            </el-form-item>
            <el-form-item>
              <el-button-group class="left">
                <el-button size="small" @click='adduser(formLabelAlign1.name, formLabelAlign1.region, value, sVal)'>确定</el-button>
                <el-button size="small" @click="()=>{sVal='';formLabelAlign1.name='';formLabelAlign1.region='';value=''}">重置</el-button>
              </el-button-group>
            </el-form-item>
          </el-form>
        </div>
      </el-col>
      <el-col :span="8">
        <div class="grid-content bg-purple-light">
          <el-radio-group size="small">
            <el-button type="primary" label="left"  size="small">添加身份</el-button>
          </el-radio-group>
          <el-form :label-position="left" :model="formLabelAlign2" size="mini" style="text-align: left; padding :0 0 0 13px">
            <el-form-item>
              <el-input v-model="formLabelAlign2.name" placeholder="请输入身份名称"></el-input>
            </el-form-item>
             <el-form-item>
              <el-button-group class="left">
                <el-button size="small" @click='addid(formLabelAlign2.name)'>确定</el-button>
                <el-button size="small" @click="()=>{formLabelAlign2.name=''}">重置</el-button>
              </el-button-group>
            </el-form-item>
          </el-form>
        </div>
      </el-col>
      <el-col :span="8">
        <div class="grid-content bg-purple">
          <el-radio-group size="small">
            <el-button type="primary" label="left"  size="small">添加API接口权限</el-button>
          </el-radio-group>
          <el-form :label-position="left" :model="formLabelAlign3" size="mini" style="text-align: left; padding :0 0 0 13px">
            <el-form-item>
              <el-input v-model="formLabelAlign3.name" placeholder="请输入api接口权限名称"></el-input>
            </el-form-item>
            <el-form-item>
              <el-input v-model="formLabelAlign3.region" placeholder="请输入api接口权限url"></el-input>
            </el-form-item>
            <el-form-item>
              <el-input v-model="formLabelAlign3.type" placeholder="请输入api接口权限方法"></el-input>
            </el-form-item>
             <el-form-item>
              <el-button-group class="left">
                <el-button size="small" @click='add_api_nozzle(formLabelAlign3.name, formLabelAlign3.region, formLabelAlign3.type)'>确定</el-button>
                <el-button size="small" @click="()=>{formLabelAlign3.name='';formLabelAlign3.region='';formLabelAlign3.type=''}">重置</el-button>
              </el-button-group>
            </el-form-item>
          </el-form>
        </div>
      </el-col>
    </el-row>
    <el-row>
      <el-col :span="8">
        <div class="grid-content bg-purple">
          <el-radio-group size="small">
            <el-button type="primary" label="left"  size="small">添加视图接口权限</el-button>
          </el-radio-group>
          <el-form :label-position="left" size="mini" style="text-align: left; padding :0 0 0 13px">
           <el-form-item>
              <el-select v-model="option_view" placeholder="请选择已有视图" class="left">
                <el-option
                  v-for="item in view"
                  :key="item.view_id"
                  :label="item.view_authority_text"
                  :value="item.view_id">
                </el-option>
              </el-select>
            </el-form-item>
             <el-form-item>
              <el-button-group class="left">
                <!-- 获取不到ID -->
                <el-button size="small" @click='add_view_nozzle(option_view)'>确定</el-button>
                <el-button size="small" @click="()=>{option_view=''}">重置</el-button>
              </el-button-group>
            </el-form-item>
          </el-form>
        </div>
      </el-col>
      <el-col :span="8">
        <div class="grid-content bg-purple-light">
          <el-radio-group size="small">
            <el-button type="primary" label="left"  size="small">给身份设置API接口权限</el-button>
          </el-radio-group>
          <el-form :label-position="left" size="mini" style="text-align: left; padding :0 0 0 13px">
            <el-form-item>
               <el-select v-model="option_id_one" placeholder="请选择身份id" class="left">
                <el-option
                  v-for="item in options"
                  :key="item.identity_id"
                  :label="item.identity_text"
                  :value="item.identity_id">
                </el-option>
              </el-select>
            </el-form-item>
            <el-form-item>
               <el-select v-model="option_id_tow" placeholder="请选择api接口权限" class="left">
                <el-option
                  v-for="item in api_nozzle"
                  :key="item.api_authority_id"
                  :label="item.api_authority_text"
                  :value="item.api_authority_id">
                </el-option>
              </el-select>
            </el-form-item>
             <el-form-item>
              <el-button-group class="left">
                <el-button size="small" @click='add_id_api_nozzle(option_id_one, option_id_tow)'>确定</el-button>
                <el-button size="small" @click="()=>{option_id_one='';option_id_tow=''}">重置</el-button>
              </el-button-group>
            </el-form-item>
          </el-form>
        </div>
      </el-col>
      <el-col :span="8">
        <div class="grid-content bg-purple">
          <el-radio-group size="small">
            <el-button type="primary" label="left"  size="small">给身份设置视图</el-button>
          </el-radio-group>
          <el-form :label-position="left" size="mini" style="text-align: left; padding :0 0 0 13px">
            <el-form-item>
               <el-select v-model="option_view_one" placeholder="请选择身份id" class="left">
                <el-option
                  v-for="item in options"
                  :key="item.identity_id"
                  :label="item.identity_text"
                  :value="item.identity_id">
                </el-option>
              </el-select>
            </el-form-item>
            <el-form-item>
               <el-select v-model="option_view_tow" placeholder="请选择视图权限id" class="left">
                <el-option
                  v-for="item in view"
                  :key="item.view_authority_id"
                  :label="item.view_authority_text"
                  :value="item.view_authority_id">
                </el-option>
              </el-select>
            </el-form-item>
             <el-form-item>
              <el-button-group class="left">
                <el-button size="small" @click='add_id_view(option_view_one, option_view_tow)'>确定</el-button>
                <el-button size="small" @click="()=>{option_view_one='';option_view_tow=''}">重置</el-button>
              </el-button-group>
            </el-form-item>
          </el-form>
        </div>
      </el-col>
    </el-row>
  </div>
</template>
<script>
import axios from '../../../axios'
export default {
    props: {},
    components: {},
    data () {
        return {
            labelPosition: 'left',
            left: 'left',
            flag: false,
            formLabelAlign1: {
                name: '',
                region: ''
            },
            formLabelAlign2: {
                name: ''
            },
            formLabelAlign3: {
                name: '',
                region: '',
                type: ''
            },
            options: [],
            option_view: '',
            option_id_one: '',
            option_id_tow: '',
            option_view_one: '',
            option_view_tow: '',
            value: '',
            sVal: '',
            view: [],
            api_nozzle: [],
            user: []
        };
    },
    computed: {},
    methods: {
        init () {
            axios.get('/api/user/identity').then((data) => {
                this.options = data.data.data
            })
            axios.get('/api/user/view_authority').then((data) => {
                this.view = data.data.data
            })
            axios.get('/api/user/api_authority').then((data) => {
                this.api_nozzle = data.data.data
            })
            axios.get('/api/user/user').then((data) => {
                console.log(data.data.data)
                this.user = data.data.data
            })
        },
        adduser (user, pwd, val, sVal) {
            if (this.flag) {
                console.log(sVal)
                axios.put('/api/user/user', {user_id: sVal, user_name: user, user_pwd: pwd, identity_id: val}).then((data) => {
                    console.log(data.data)
                })
            } else {
                axios.post('/api/user', {user_name: user, user_pwd: pwd, identity_id: val}).then((data) => {
                    console.log(data.data)
                })
            }
            this.init()
        },
        addid (id) {
            axios.get('/api/user/identity/edit', {params: {identity_text: id}}).then((data) => {
                console.log(data.data)
                this.init()
            })
        },
        add_api_nozzle (name, url, method) {
            axios.get('/api/user/authorityApi/edit', {params: {api_authority_text: name, api_authority_url: url, api_authority_method: method}}).then((data) => {
                console.log(data.data)
                this.init()
            })
        },
        add_view_nozzle (id) {
            let name = this.view.filter((item) => {
                return item.view_id === id
            })[0].view_authority_text
            axios.get('/api/user/authorityView/edit', {params: {view_authority_text: name, view_id: id}}).then((data) => {
                console.log(data.data)
                this.init()
            })
        },
        add_id_api_nozzle (id, api) {
            axios.post('/api/user/setIdentityApi', {identity_id: id, api_authority_id: api}).then((data) => {
                console.log(data.data)
            })
        },
        add_id_view (id, view) {
            axios.post('/api/user/setIdentityView', {identity_id: id, view_authority_id: view}).then((data) => {
                console.log(data.data)
            })
        },
        toFlag () {
            if (this.labelPosition === 'top') {
                this.flag = true
            } else {
                this.flag = false
            }
        }
    },
    created () {
        this.init()
    },
    mounted () {}
};
</script>
<style scoped lang="">
div.adduserbox {
  margin-bottom: 0;
  width: 100%;
  padding: 14px;
}
.el-row {
  width: 100%;
  display: flex;
  border: 1px solid #ccc;
  border-right: 0;
}
.el-col {
  border-radius: 4px;
  height: auto;
  border-right: 1px solid #ccc;
}
.grid-content {
  border-radius: 4px;
  min-height: 36px;
}
.row-bg {
  padding: 10px 0;
  background-color: #f9fafc;
}
.el-radio-group {
  display: flex;
  justify-content: flex-start;
  margin: 13px;
}
.el-input{
    width:80%;
}
.el-from{
  text-align: left
}
.el-main{
  text-align: left
}
</style>
