<template>
        <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
            <el-form-item label="试卷名称:" prop="name">
                <el-input v-model="ruleForm.name"></el-input>
            </el-form-item>
            <el-form-item label="考试类型:" prop="region">
                <el-select v-model="ruleForm.region" placeholder="请选择考试类型">
                    <el-option :label="item.exam_name" :value="item.exam_name" v-for="(item,index) in getsType" :key='index'></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="选择课程:" prop="resource">
                <el-select v-model="ruleForm.resource" placeholder="请选择课程">
                    <el-option :label="item.subject_text" :value="item.subject_text" v-for="(item,index) in getsCourse" :key='index'></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="设置题量:">
                 <el-input-number v-model="ruleForm.num" controls-position="right" @change="handleChange" :min="4" :max="10"></el-input-number>
            </el-form-item>
            <el-form-item label="考试时间:">
                <el-col :span="11">
                    <el-date-picker :picker-options="startPickerOptions" clear-icon="el-icon-circle-close"
                    prefix-icon="el-icon-date" format="yyyy-MM-dd HH:mm" placeholder="开始时间" type="datetime"
                    v-model="ruleForm.date1">
                </el-date-picker>
                </el-col>
                <el-col :span="11">
                 <el-date-picker ref="end" align="right" :picker-options="endPickerOptions"
                    clear-icon="el-icon-circle-close" prefix-icon="el-icon-date" format="yyyy-MM-dd HH:mm"
                    placeholder="结束时间" type="datetime" v-model="ruleForm.date2">
                </el-date-picker>
                </el-col>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="submitForm('ruleForm')">创建试卷</el-button>
            </el-form-item>
        </el-form>
</template>
<script>
import {mapGetters, mapActions} from 'vuex'
import axios from '../../../axios'
export default {
    props: {
    },
    components: {
    },
    data () {
        return {
            ruleForm: {
                name: '',
                region: '',
                resource: '',
                num: 4,
                date1: '', // 开始时间
                date2: '' // 结束时间
            },
            rules: {
                name: [
                    { required: true, message: '请输入试卷名称', trigger: 'blur' },
                    { min: 3, max: 5, message: '长度在 3 到 5 个字符', trigger: 'blur' }
                ],
                region: [
                    { required: true, message: '请选择考试类型', trigger: 'change' }
                ],
                resource: [
                    { required: true, message: '请选择课程', trigger: 'change' }
                ],
                date1: [
                    { type: 'date', required: true, message: '请选择开始时间', trigger: 'change' }
                ],
                date2: [
                    { type: 'date', required: true, message: '请选择结束时间', trigger: 'change' }
                ]
            }
        }
    },
    computed: {
        ...mapGetters(['getsType', 'getsCourse']),
        startTimeParse: {
            get: function () {
                if (this.ruleForm.date1) {
                    return new Date(+this.ruleForm.date1)
                }
                // return '无'
            },
            set: function (val) {
                this.ruleForm.date1 = val != null ? val.valueOf() : 0
            }
        },
        endTimeParse: {
            get: function () {
                if (this.ruleForm.date2) {
                    return new Date(+this.ruleForm.date2)
                }
                // return '无'
            },
            set: function (val) {
                this.ruleForm.date2 = val != null ? val.valueOf() : 0
            }
        },
        startPickerOptions () {
            if (this.ruleForm.date2 === 0) {
                // 若结束时间未设置，则开始时间不早于当前时间即可
                const startYMD = this.getYMD(this.ruleForm.date1)
                const nowYMD = this.getYMD()
                return {
                    disabledDate (time) {
                        return time.getTime() < Date.now() - 8.64e7
                    },
                    selectableRange: startYMD === nowYMD ? `${this.getHM()}:00 - 23:59:00` : []
                }
            } else {
                // 若有结束时间，则开始时间不晚于结束时间
                const endYMD = this.getYMD(this.ruleForm.date2)
                const startYMD = this.getYMD(this.ruleForm.date1)
                const nowYMD = this.getYMD()
                let selectableRange = []
                // 选择了当天
                if (nowYMD === startYMD) {
                    // 结束时间也是当天
                    if (endYMD === startYMD) {
                        selectableRange = `${this.getHM()}:00 - ${this.getHM(this.ruleForm.date2)}:00`
                    } else {
                        selectableRange = `${this.getHM()}:00 - 23:59:00`
                    }
                } else {
                    // 选中了结束时间
                    if (endYMD === startYMD) {
                        selectableRange = `00:00:00 - ${this.getHM(this.ruleForm.date2)}:00`
                    } else {
                        selectableRange = []
                    }
                }
                return {
                    disabledDate: (time) => {
                        return time.getTime() > this.ruleForm.date2 || time.getTime() < Date.now() - 8.64e7
                    },
                    selectableRange
                }
            }
        },
        endPickerOptions () {
            if (this.ruleForm.date1 === 0) {
                // 若开始时间未设置，则结束时间不早于当前时间即可
                const endYMD = this.getYMD(this.ruleForm.date2)
                const nowYMD = this.getYMD()
                return {
                    disabledDate (time) {
                        return time.getTime() < Date.now() - 8.64e7
                    },
                    selectableRange: endYMD === nowYMD ? `${this.getHM()}:00 - 23:59:00` : []
                }
            } else {
                // 若有开始时间，则结束时间不早于开始时间
                const endYMD = this.getYMD(this.ruleForm.date2)
                const startYMD = this.getYMD(this.ruleForm.date1)
                const nowYMD = this.getYMD()
                let selectableRange = []
                // 选择了当天
                if (nowYMD === endYMD) {
                    // 开始时间也是当天
                    if (endYMD === startYMD) {
                        selectableRange = `${this.getHM(this.ruleForm.date1)}:00 - 23:59:00`
                    } else {
                        selectableRange = `${this.getHM()}:00 - 23:59:00`
                    }
                } else {
                    // 选中了开始时间
                    if (endYMD === startYMD) {
                        selectableRange = `${this.getHM(this.ruleForm.date1)}:00 - 23:59:00`
                    } else {
                        selectableRange = []
                    }
                }
                return {
                    disabledDate: (time) => {
                        return time.getTime() < this.ruleForm.date1 - 8.64e7 || time.getTime() < Date.now() -
                            8.64e7
                    },
                    selectableRange
                }
            }
        }
    },
    methods: {
        submitForm  (formName) {
            let val = this.getsCourse.filter(item => item.subject_text === this.ruleForm.resource)// 过滤出对应的课程，然后获取id
            let vals = this.getsType.filter(item => item.exam_name === this.ruleForm.region)// 过滤出对应的考试类型，然后获取id
            this.$refs[formName].validate((valid) => {
                if (valid) {
                    let data = {
                        subject_id: val[0].subject_id,
                        exam_id: vals[0].exam_id,
                        title: this.ruleForm.name,
                        number: (this.ruleForm.num) * 1,
                        start_time: new Date(this.ruleForm.date1).getTime(),
                        end_time: new Date(this.ruleForm.date2).getTime()
                    }
                    axios.post('/api/exam/exam', data).then(res => {
                        this.$router.push({name: 'addExamDetail', params: {data: res.data.data}})
                    })
                } else {
                    return false;
                }
            })
        },
        handleChange (value) {
            console.log(value);
        },
        ...mapActions(['getType', 'getCourse']),
        getHM (time = Date.now()) {
            time = time || Date.now()
            const t = new Date(time)
            return `${t}`.match(/\s(\d+:\d+):/)[1]
        },
        getYMD (time = Date.now()) {
            time = time || Date.now()
            return `${new Date(time)}`.match(/(.+)\s+\d+:/)[1]
        }
    },
    created () {
        this.getType()
        this.getCourse()
    },
    mounted () {

    }
}
</script>
<style scoped lang="">
    .demo-ruleForm{
        width:90%;
        height: 500px;
        background:#fff;
        margin: 0 auto;
        padding: 24px;
        border-radius:20px;
    }
    .el-form-item{
        text-align: left;
    }
</style>
