<template>
  <div v-if="list.length">
      <show-list :list="filList.length ? getList(filList) : getList(list)">
          <template v-slot:title>
              <el-form :inline="true" :model="formInline" class="demo-form-inline">
                <el-form-item>
                    <el-input v-model="formInline.user" placeholder="输入学生姓名" class="ipt"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-input v-model="formInline.studentID" placeholder="输入学生学号" class="ipt"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-select v-model="formInline.clsName" placeholder="选择教室号" class="ipt">
                    <el-option :label="item" :value="item" :key="ind" v-for="(item,ind) in getRoomList('room_text')"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item>
                    <el-select v-model="formInline.grendName" placeholder="班级名" class="ipt">
                    <el-option :label="item" :value="item" :key="ind" v-for="(item,ind) in getRoomList('grade_name')"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="onSubmit">搜索</el-button>
                    <el-button type="primary" @click="resetVal">重置</el-button>
                </el-form-item>
                </el-form>
          </template>
          <template v-slot:header>
              <el-table-column
                prop="student_name"
                label="姓名"
                >
            </el-table-column>
            <el-table-column
                prop="student_id"
                label="学号"
                >
            </el-table-column>
            <el-table-column
                prop="grade_name"
                label="班级"
                >
            </el-table-column>
            <el-table-column
                prop="room_text"
                label="教室"
                >
            </el-table-column>
            <el-table-column
                prop="student_pwd"
                label="密码"
                >
            </el-table-column>
            <el-table-column
                label="操作"
                >
                <template slot-scope="scope">
                    <el-button @click="handleClick(scope.row)" type="text" size="small">删除</el-button>
                </template>
            </el-table-column>
          </template>
          <template v-slot:footer>
              <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="currentPage1"
                :page-sizes="[10, 20, 50, 100]"
                :page-size="10"
                style="page"
                layout="total, sizes, prev, pager, next, jumper"
                :total="filList.length ? filList.length : list.length">
                </el-pagination>
          </template>
      </show-list>
  </div>
</template>
<script>
import showList from '@/utils/showList'
import axios from '@/axios'
import {filteList} from '@/utils'
export default {
    props: {},
    components: {
        showList
    },
    data () {
        return {
            formInline: {
                user: '',
                grendName: '',
                clsName: '',
                studentID: ''
            },
            list: [],
            filList: [],
            currentPage1: 1,
            page: 1,
            pagesize: 10,
            flag: false
        }
    },
    computed: {
        getList () {
            return list => {
                if (list.length === 1) {
                    return list
                }
                let arr = list.slice((this.page - 1) * this.pagesize, this.page * this.pagesize)
                return arr
            }
        },
        getRoomList () {
            return name => {
                let list = []
                this.list.forEach(item => {
                    if (!list.includes(item[name])) {
                        list.push(item[name])
                    }
                })
                return list.sort((a, b) => Number(a) - Number(b))
            }
        }
    },
    methods: {
        onSubmit () {
            let {grendName, clsName, user, studentID} = this.formInline
            this.filList = filteList(this.list, ['room_text', clsName], ['grade_name', grendName], ['student_name', user], ['student_id', studentID])
            if (!this.filList.length) {
                this.$notify({
                    title: '无匹配学生！',
                    type: 'error'
                })
            }
        },
        resetVal () {
            this.formInline = {
                user: '',
                grendName: '',
                clsName: ''
            }
            this.filList = []
        },
        handleClick (obj) {
            axios.delete('/api/manger/student/' + obj.student_id)
                .then(res => {
                    this.$notify({
                        title: '成功',
                        message: res.data.msg,
                        type: 'success'
                    })
                    this.setList()
                })
        },
        handleSizeChange (val) {
            this.pagesize = val
            console.log(`每页 ${val} 条`)
        },
        handleCurrentChange (val) {
            this.page = val
            console.log(`当前页: ${val}`)
        },
        setList () {
            axios.get('/api/manger/student')
                .then(res => {
                    this.list = res.data.data
                })
        }
    },
    created () {
        this.setList()
    },
    mounted () {}
}
</script>
<style scoped lang="">
    .demo-form-inline{
        float: left;
    }
    .el-pagination{
        margin: 10px 0;
    }
    span{
        color:blue;
        cursor: pointer;
    }
</style>
