<template>
    <div>
        <Addquestions :id='oid'></Addquestions>
    </div>
</template>
<script>
import Addquestions from '../../../components/addquestions'
export default {
    props: {

    },
    components: {
        Addquestions
    },
    data () {
        return {
            oid: ''
        }
    },
    computed: {
    },
    methods: {
    },
    created () {
        this.oid = this.$route.query.id
    },
    mounted () {

    }
}
</script>
<style scoped lang="">

</style>
