<template>
    <showList :list = "filterClass.length?filterClass:getPaging">
        <template v-slot:title>
            <div class="classTop">
                <el-form :inline="true" :model="formInline" class="demo-form-inline">
                    <el-form-item label="状态">
                        <el-select v-model="formInline.classStatus" placeholder="">
                        </el-select>
                    </el-form-item>
                    <el-form-item label="学生">
                        <el-input v-model="formInline.region"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="onSubmit">查询</el-button>
                    </el-form-item>
                </el-form>
            </div>
        </template>
        <template v-slot:header>
            <el-table-column
                label="班级">
                <template>
                   {{gradeName}}
                </template>
            </el-table-column>
            <el-table-column
                prop="student_name"
                label="姓名">
            </el-table-column>
             <el-table-column
                label="阅卷状态">
                <template slot-scope="scope">
                    {{scope.row.status}}
                    <span v-if="scope.row.status===0">未阅</span>
                    <span v-if="scope.row.status===1">已阅</span>
                </template>
            </el-table-column>
             <el-table-column
                prop="start_time"
                label="开始时间">
            </el-table-column>
             <el-table-column
                prop="end_time"
                label="结束时间">
            </el-table-column>
            <el-table-column
                label="成材率">
            </el-table-column>
            <el-table-column
                label="操作">
                <template slot-scope="scope">
                    <el-button @click="handleClick(scope.row)" type="text" size="small">批卷</el-button>
                </template>
            </el-table-column>
        </template>
        <template v-slot:footer>
                <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="currentPage4"
                :page-sizes="[5, 10, 20,50,100]"
                :page-size="10"
                layout="total, sizes, prev, pager, next, jumper"
                :total="filterClass.length?filterClass.length:(getsClassmate.length?getsClassmate.length:0)">
                </el-pagination>
        </template>
    </showList>
</template>
<script>
import {mapActions, mapGetters, mapMutations} from 'vuex'
import showList from '../../../utils/showList'
import moment from 'moment'
import {filteList} from '../../../utils/index'
import axios from '../../../axios'
export default {
    props: {

    },
    components: {
        showList
    },
    data () {
        return {
            formInline: {
                user: '',
                region: '',
                classStatus: ''
            },
            currentPage4: 1,
            pageSize: 10,
            page: 1,
            filterClass: [],
            gradeName: window.localStorage.getItem('grade_name')
        }
    },
    computed: {
        ...mapGetters(['getsClassmate', 'getsClassList']),
        getPaging () { // 分页
            if (this.getsClassmate) {
                return this.getsClassmate.slice((this.page - 1) * this.pageSize, this.page * this.pageSize)
            } else {
                return false
            }
        }
    },
    methods: {
        ...mapActions(['getClassmate', 'getClassList']),
        ...mapMutations(['clearArr']),
        handleClick (row) {
            console.log(row)
            axios.get('/api/exam/student', {
                params: {
                    'exam_student_id': row.exam_student_id
                }
            }).then(res => {
                console.log(res)
            })
            this.$router.push({name: 'waitDetail', params: {id: row.exam_student_id, list: this.getsClassmate}})
        },
        onSubmit () {
            this.filterClass = filteList(this.getsClassmate, ['student_name', this.formInline.region])
            if (!this.filterClass.length) {
                this.$notify({
                    title: '无匹配学生！',
                    type: 'error'
                })
            }
        },
        handleSizeChange (val) {
            this.pageSize = val
        },
        handleCurrentChange (val) { // 改变页数
            this.page = val
        }
    },
    created () {
        this.getClassmate(this.$route.params.grade_id)
    },
    mounted () {

    },
    watch: {
        getsClassmate (newVal) {
            if (this.getsClassmate) {
                newVal.forEach(item => {
                    // 把时间戳专为标准时间格式
                    item.start_time = moment(item.start_time * 1).format(
                        'YYYY-MM-DD HH:MM:SS'
                    )
                    item.end_time = moment(item.end_time * 1).format(
                        'YYYY-MM-DD HH:MM:SS'
                    )
                })
                return newVal
            }
        }
    },
    destroyed () {
        this.clearArr()
    }
}
</script>
<style scoped lang="">
    .classTop{
        width:90%;
        height: 80px;
        background:#fff;
        border-radius:20px;
    }
</style>
