<template>
    <div class="ClassDetail">
        <div class="leftClassDetail">
            暂无数据
            {{$route.params.id}}
        </div>
        <div class="rightClassDetail">
            <p>得分:<span>{{value1}}</span></p>
            <el-slider v-model="value1"></el-slider>
            <el-button type="text" @click="watchExam">确定</el-button>
                <el-dialog
                :visible.sync="dialogVisible"
                width="30%"
                :before-close="handleClose">
                <p>确认提交阅卷结果?</p>
                <p>分数值: {{value1}}</p>
                <p slot="footer" class="dialog-footer">
                    <el-button @click="dialogVisible = false">取 消</el-button>
                    <el-button type="primary" @click="yesWatchExam">确 定</el-button>
                </p>
                </el-dialog>
        </div>
    </div>
</template>
<script>
import {mapActions, mapGetters} from 'vuex'
export default {
    props: {

    },
    components: {

    },
    data () {
        return {
            value1: 0,
            dialogVisible: false,
            items: ''
        }
    },
    computed: {
        ...mapGetters(['getsClassList', 'getsClassmate'])
    },
    methods: {
        ...mapActions(['getClassList', 'getClassmate']),
        handleClose (done) {
            this.$confirm('确认关闭？')
                .then(() => {
                    done();
                })
                .catch(() => {});
        },
        watchExam () {
            this.dialogVisible = true
        },
        yesWatchExam () {
            let names = window.localStorage.getItem('grade_name')
            this.items = this.getsClassList.filter(item => item.grade_name === names)
            this.getsClassmate.status = 1
            this.dialogVisible = false
            this.$router.push({name: 'waitMarking'})
        }
    },
    created () {
        this.getClassList()
        this.getClassmate(this.items[0].grade_id)
    },
    mounted () {

    }
}
</script>
<style scoped lang="">
    .ClassDetail{
        width:90%;
        height: 200px;
        margin:0 auto;
        display: flex;
    }
    .leftClassDetail{
        width: 68%;
        background:#fff;
        border-radius:20px;
        margin-right: 10px;
        text-align: center;
        line-height: 200px;
        font-size: 18px;
        color:#ccc;
    }
    .rightClassDetail{
        width: 30%;
        background:#fff;
        border-radius:20px;
        text-align:left;
        font-size: 16px;
        line-height: 60px;
        padding: 20px;
    }
    .rightClassDetail p span{
        font-size: 26px;
        color:blue;
        margin-left: 10px;
    }
</style>
