<template>
  <div class='examinebox'>
    <div class='exam_topbox'>
      <div class='exam_classtype'>
        <span>课程类型:</span>
        <ul id='examine_ul'>
          <li class="olist"
          :class='{"wwww":flag}'
          @click='allClick'
          >all</li>
          <li v-for='(item,index) in ressubject.data'
          class="olist"
          :key='index'
          @click='changeclassn(index,item)'
          :class="index===ind?'wwww':(flag?'wwww':'')"
          >{{item.subject_text}}</li>
        </ul>
      </div>
      <el-form :inline='true' :model='formInline' class='demo-form-inline' id='examinefrom'>
        <el-form-item label='考试类型'>
          <el-select v-model='formInline.region'>
            <el-option v-for='(item) in resexamType.data' :key='item.exam_id' :label='item.exam_name' :value='item.exam_name'></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label='题目类型'>
          <el-select v-model='formInline.regio'>
            <el-option v-for='(item) in resgetQuestionsType.data' :key='item.questions_type_id' :label='item.questions_type_text' :value='item.questions_type_text'></el-option>
          </el-select>
        </el-form-item>
        <el-form-item class='examine_btn'>
          <el-button type='primary' @click='submits'>查询</el-button>
        </el-form-item>
      </el-form>
    </div>
    <div class='exam_bottombox'>
      <div v-for='(item,index) in (questions_list.length?questions_list:reslist)' :key='index'>
        <!-- <h3 class="header_name">{{item.user}}</h3> -->
        <el-table :data='item.list' style='width: 100%; padding: 0;' :fit='true' :cell-style="cellStyle" @row-click="celldblclick">
        <el-table-column>
            <template slot-scope='scope'>
              <span class="examine_span">{{scope.row.title}}</span>
              <div class="exam_btmbox_div">
                <el-tag size="mini">{{scope.row.exam_name}}</el-tag>
                <el-tag type="success" size="mini">{{scope.row.questions_type_text}}</el-tag>
                <el-tag type="warning" size="mini">{{scope.row.subject_text}}</el-tag>
                <p class="exam_btmbox_p" @click.self="$router.push({path:'editQuestions', query:{id:scope.row.questions_id}})">编辑</p>
              </div>
              <p class="examine_p">{{scope.row.user_name}}发布</p>
            </template>
        </el-table-column>
      </el-table>
      </div>
    </div>
  </div>
</template>
<script>
import {mapActions, mapGetters} from 'vuex'
import {filteList} from '../../../utils/index'
export default {
    props: {},
    components: {},
    data () {
        return {
            formInline: {
                user: '',
                region: '', // 考试类型
                regio: ''// 题目类型
            },
            num: -1,
            numn: -1,
            flag: false,
            subarr: [],
            ind: '',
            list: [],
            questions_list: [],
            val: '',
            arr: []
        }
    },
    computed: {
        ...mapGetters(['resdata', 'resgetQuestionsType', 'resexamType', 'ressubject', 'reslist'])
    },
    methods: {
        ...mapActions(['getData', 'gettype', 'getexamType', 'onSubmit', 'getsubject']),
        cellStyle () {
            return {'height': '115px', 'padding': '12px 0'}
        },
        changeclass (num) {
            this.num = num
        },
        changeclassn (index, item) {
            this.ind = index
            this.val = item.subject_text
            if (this.flag) {
                this.flag = false
            }
        },
        allClick () {
            this.flag = !this.flag
            this.ind = ''
        },
        celldblclick (row) {
            this.$router.push({path: 'detail', query: {data: row}})
        },
        submits () {
            this.list = filteList(this.resdata.data, ['exam_name', this.formInline.region], ['questions_type_text', this.formInline.regio], ['subject_text', this.val])
            if (!this.list.length) {
                this.$notify({
                    title: '无匹配试卷！',
                    type: 'error'
                })
            } else {
                this.questions_list = []
                this.list.forEach((item) => {
                    let oid = this.questions_list.findIndex((ite) => { // 去重
                        return ite.user === item.user_name
                    })
                    if (oid === -1) {
                        let arr = this.list.filter((it) => {
                            return it.user_name === item.user_name
                        })
                        this.questions_list.push({user: item.user_name, list: arr}) // 将数据和出题者--组合成对象
                    }
                })
            }
        }
    },
    created () {
        this.getData()
        this.gettype()
        this.getexamType()
        this.getsubject()
    },
    mounted () {}
};
</script>
<style scoped lang=''>
.examinebox {
  width: 100%;
  height: 100%;
  background: #f0f2f5;
  display: flex;
  flex-direction: column;
}
.examinebox > div {
  width: 95.5%;
  border-radius: 5px;
  background: #fff;
  padding: 24px;
  margin: 0 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.exam_topbox {
  height: 31%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding: 24px;
}
.exam_bottombox {
  height: auto;
  margin-top: 10%;
}
.exam_bottombox>div{
  width:100%;
  height:auto;
}
.examine_btn,
.examine_btn > el-button {
  width: 100px;
}
.exam_classtype {
  width: 100%;
  height: auto;
  display: flex;
  margin-left: 44px;
  margin-bottom: 30px;
}
.exam_classtype span {
  display: inline-block;
  line-height: 40px;
  font-size: 14px;
  font-weight: 600;
  color: #666;
}
#examine_ul {
  width: 90%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
#examine_ul li {
  width:auto;
  text-align:center;
  line-height: 20px;
  height:20px;
  font-size:12px;
  padding:0 10px;
  margin-left:10px;
  margin-top:10px;
}
#examinefrom {
  width: 100%;
  margin:10px 0 10px 3.5%;
  font-size: 30px;
  font-weight: 600;
}
.el-main {
  text-align: left;
  position: relative;
  left: 20px;
}
.examine_p{
  color:blue;
  line-height: 25px;
  margin-top: 7px;
}
.examine_span{
  display:inline-block;
  line-height:20px;
  margin-bottom:10px;
}
.el-tag{
  margin-right:10px;
}
.exam_btmbox_div{
  width:100%;
  position: relative;
}
.exam_btmbox_p{
  position: absolute;
  right:10px;
  top:0px;
  color:blue
}
.olist:hover{
  color:burlywood;
  cursor: pointer;
}
.wwww,.eee{
  background:teal;
  color:#fff;
}
.header_name{
  text-align: left;
  padding-left:10px;
  line-height:30px;
  background:#eef1f6;
  text-indent:1em;
}
.exam_btmbox_p:hover{
  cursor: pointer;
}
</style>
