<template>
  <div>
    <show-list :list="list">
      <template v-slot:title>
        <el-button type="primary" inline  @click="toFlag('添加班级')"> + 添加班级</el-button>
      </template>
      <template v-slot:header>
         <el-table-column
            prop="grade_name"
            label="班级名"
            >
        </el-table-column>
        <el-table-column
            prop="subject_text"
            label="课程名"
            >
        </el-table-column>
        <el-table-column
            prop="room_text"
            label="教室号"
            >
        </el-table-column>
        <el-table-column
            label="操作"
            >
            <template slot-scope="scope">
              <el-button @click="handleClick(scope.row)" type="text" size="small">编辑</el-button>
              <el-button type="text" size="small" @click="clearClick(scope.row)">删除</el-button>
            </template>
        </el-table-column>
      </template>
    </show-list>
    <my-dialog v-if="flag" :flag.sync='flag' :ruleForm.sync='ruleForm' :checkFlag.sync='checkFlag' :tit="tit" @setCls="toCls">
    <template v-slot:box>
        <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
            <el-form-item label="班级名" prop="name">
                <el-input v-model="ruleForm.name" placeholder="班级名" :disabled='checkFlag'></el-input>
            </el-form-item>
            <el-form-item label="教室号" prop="grdName" required>
                <el-select v-model="ruleForm.grdName" placeholder="请选择教室号" style="width:100%" hide-required-asterisk='true'>
                <el-option :label="item.room_text" :value="item.room_id" v-for="item in roomList" :key="item.room_id"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="课程名" prop="clsName" required>
                <el-select v-model="ruleForm.clsName" placeholder="请选择课程名" style="width:100%">
                <el-option :label="item.subject_text" :value="item.subject_id" v-for="item in subList" :key="item.subject_id"></el-option>
                </el-select>
            </el-form-item>
            </el-form>
    </template>
    </my-dialog>
  </div>
</template>
<script>
import showList from '../../../utils/showList';
import axios from '@/axios'
import myDialog from '@/utils/Dialog'

export default {
    props: {},
    components: {
        showList,
        myDialog
    },
    data () {
        return {
            list: [],
            flag: false,
            checkFlag: false,
            subList: [],
            roomList: [],
            grade_id: '',
            ruleForm: {
                name: '',
                grdName: '',
                clsName: ''
            },
            rules: {
                name: [
                    { required: true, message: '请输入班级名称', trigger: 'blur' },
                    { min: 3, max: 5, message: '长度在 3 到 5 个字符', trigger: 'blur' }
                ],
                region: [
                    { required: true, message: '请选择活动区域', trigger: 'change' }
                ]
            }
        }
    },
    computed: {},
    methods: {
        clearClick (obj) {
            console.log(obj.grade_id)
            let param = {
                grade_id: obj.grade_id
            }
            axios.delete('/api/manger/grade/delete', {
                data: param
            }).then(res => {
                this.$notify({
                    title: '成功',
                    message: res.data.msg,
                    type: 'success'
                })
                this.setList()
            })
        },
        toFlag (val) {
            this.flag = true
            this.tit = val
        },
        handleClick (obj) {
            let val = JSON.parse(JSON.stringify(obj))
            this.toFlag('修改班级')
            this.checkFlag = true
            this.ruleForm.name = val.grade_name
            this.grade_id = val.grade_id
            this.ruleForm.grdName = obj.room_text
            this.ruleForm.clsName = obj.subject_text
        },
        toCls () {
            let {name, grdName, clsName} = this.ruleForm
            let data = {
                grade_name: name,
                subject_id: clsName,
                room_id: grdName
            }
            if (name && grdName && clsName && !this.checkFlag) {
                let data = {
                    grade_name: name,
                    subject_id: clsName,
                    room_id: grdName
                }
                axios.post('/api/manger/grade', data)
                    .then(({data}) => {
                        if (data.code) {
                            this.$notify({
                                title: '成功',
                                message: data.msg,
                                type: 'success'
                            })
                        }
                        this.setList()
                    })
            } else if (name && grdName && clsName && this.checkFlag) {
                axios.put('/api/manger/grade/update', {grade_id: this.grade_id, ...data})
                    .then(({data}) => {
                        if (data.code) {
                            this.$notify({
                                title: '成功',
                                message: data.msg,
                                type: 'success'
                            })
                        }
                        this.setList()
                    })
            }
            this.clearFrom()
        },
        getSub () {
            axios.get('/api/exam/subject')
                .then(({data: {data}}) => {
                    this.subList = data
                })
        },
        getRoom () {
            axios.get('/api/manger/room')
                .then(({data: {data}}) => {
                    console.log(data)
                    this.roomList = data
                })
        },
        clearFrom () {
            this.ruleForm = {
                name: '',
                grdName: '',
                clsName: ''
            }
        },
        setList () {
            axios.get('/api/manger/grade')
                .then(res => {
                    this.list = res.data.data
                })
        }
    },
    created () {
        this.setList()
        this.getSub()
        this.getRoom()
    },
    mounted () {}
}
</script>
<style scoped lang="">
 span{
    color:blue;
    cursor: pointer;
    font-size: 13px;
  }
</style>
