<template>
    <div class='wrap'>
        <el-tabs type='card' v-model="activeName">
            <el-tab-pane v-for="(item,index) in tableData" :key="index" :label='item.title'>
                <h1 style='margin-bottom:15px;font-size:16px;'>{{item.title}}</h1>
                <el-table :data='item.list' style='width: 100%' stripe :header-cell-style="{background:'#eef1f6',color:'#606266'}" >
                    <el-table-column :prop='item.keys[ind]' :label='val' v-for="(val, ind) in item.header" :key="ind"></el-table-column>
                </el-table>
            </el-tab-pane>
        </el-tabs>
    </div>
</template>
<script>
import axios from '../../../axios'
export default {
    props: {},
    components: {},
    data () {
        return {
            activeName: 0,
            currentPage4: 1,
            page: 1,
            pageSize: 10,
            totalList: [],
            tableData: [{
                title: '用户数据',
                keys: ['user_name', 'user_pwd', 'identity_text'],
                list: [],
                header: ['用户名', '密码', '身份']
            }, {
                title: '身份数据',
                keys: ['identity_text'],
                list: [],
                header: ['身份名称']

            }, {
                title: 'api接口权限',
                keys: ['api_authority_text', 'api_authority_url', 'api_authority_method'],
                list: [],
                header: ['api权限名称', 'api权限url', 'api权限方法']
            }, {
                title: '身份和api接口关系',
                keys: ['identity_text', 'api_authority_text', 'api_authority_url', 'api_authority_method'],
                list: [],
                header: ['身份名称', 'api权限名称', 'api权限url', 'api权限方法']
            }, {
                title: '视图接口权限',
                keys: ['view_authority_text', 'view_id'],
                list: [],
                header: ['视图权限名称', '视图id']
            }, {
                title: '身份和视图权限关系',
                keys: ['identity_text', 'view_authority_text', 'view_id'],
                list: [],
                header: ['身份', '视图名称', '视图id']
            }],
            filterList: []
        };
    },
    computed: {
        getPageing () {
            return list => {
                // .slice((this.page - 1) * this.pageSize, this.page * this.pageSize)
                return list
            }
        }
    },
    methods: {
        handleSizeChange (val) {
            this.page = val
        },
        handleCurrentChange (val) {
            this.pageSize = val
        },
        getList () {
            Promise.all([axios.get('/api/user/user'), axios.get('/api/user/identity'), axios.get('/api/user/api_authority'), axios.get('/api/user/identity_api_authority_relation'), axios.get('/api/user/view_authority'), axios.get('/api/user/identity_view_authority_relation')])
                .then(res => {
                    res.forEach((item, i) => {
                        this.tableData[i].list = item.data.data
                    })
                })
        }
    },
    created () {
        this.getList()
    },
    mounted () {

    }
};
</script>
<style scoped lang=''>
    .content{
        padding-left: 20px;
    }
    .el-pagination{
        margin-top: 30px;
    }
    .wrap{
        width: 95%;
        margin: 0 auto;
        padding: 20px;
        border-radius: 5px;
        box-sizing: border-box;
        background: #fff;
        text-align: left;
    }
</style>
