<template>
  <div class='fybox'>
    <div>
      <el-button-group>
        <el-button type='primary' icon='el-icon-plus' class='fybtn' @click="open3">添加类型</el-button>
      </el-button-group>
        <el-table :data='resgetQuestionsType.data' :showClose='false' :header-cell-style="{background:'#eef1f6',color:'#606266'}">
          <el-table-column prop='questions_type_id' label='类型ID' ></el-table-column>
          <el-table-column prop='questions_type_text' label='类型名称'></el-table-column>
        </el-table>
    </div>
  </div>
</template>
<script>
import {mapGetters, mapActions} from 'vuex'
export default {
    props: {},
    components: {},
    data () {
        return {}
    },
    computed: {
        ...mapGetters(['resgetQuestionsType'])
    },
    methods: {
        ...mapActions(['gettype', 'changegetQuestionsType']),
        open3 () {
            var that = this
            this.$prompt('创建新类型', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                beforeClose: (action, instance, done) => {
                    if (action === 'confirm') {
                        that.changegetQuestionsType(instance.inputValue)
                        that.gettype()
                        done()
                    } else {
                        done()
                    }
                }
            }).then(() => {
                this.$message({
                    type: 'success',
                    message: '添加成功'
                })
            }).catch(() => {
                this.$message({
                    type: 'info',
                    message: '取消添加'
                })
            })
        }
    },
    created () {
        this.gettype()
    },
    mounted () {
    }
};
</script>
<style scoped lang=''>
* {
  box-sizing: border-box;
}
div.fybox {
  width: 100%;
  height: auto;
  background: #f0f2f5;
  display: flex;
  justify-content: center;
}
div.fybox > div {
  width: 100%;
  height: auto;
  border-radius: 5px;
  background: #fff;
  padding: 24px;
  margin: 0 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
div.fybox > div > .el-table {
  margin-top: 24px;
  padding: 0;
}
.el-table-column{
    margin-left:30px;
}
.el-table::before{
    height:0
}
</style>

