<template>
  <div>
      <Addquestions></Addquestions>
  </div>
</template>
<script>
import Addquestions from '../../../components/addquestions'
export default {
    props: {

    },
    components: {
        Addquestions
    },
    data () {
        return {

        }
    },
    computed: {

    },
    methods: {

    },
    created () {

    },
    mounted () {

    }
}
</script>
<style scoped lang="">
div{
  width:100%;
  height:100%
}
</style>

