<template>
  <div>
      <h2>404!</h2>
  </div>
</template>
<script>
export default {
    props: {},
    components: {},
    data () {
        return {}
    },
    computed: {},
    methods: {},
    created () {},
    mounted () {}
}
</script>
<style scoped lang="">
</style>
