<template>
  <div class="wrapper">
      <router-view></router-view>
  </div>
</template>
<script>
export default {
    props: {},
    components: {},
    data () {
        return {}
    },
    computed: {},
    methods: {
    },
    created () {
    },
    mounted () {}
}
</script>
<style lang="">
    .wrapper{
        width: 100%;
        height: 100%;
    }
</style>
