<template>
    <div class="listBox">
        <showList :list="getList?getList:getsClassList">
            <template v-slot:header>
                <el-table-column
                prop="grade_name"
                label="班级名"
                width="180">
            </el-table-column>
            <el-table-column
                prop="subject_text"
                label="课程名称"
                width="180">
            </el-table-column>
            <el-table-column
                prop="address"
                label="阅卷状态">
            </el-table-column>
            <el-table-column
                prop="room_text"
                label="教室号">
            </el-table-column>
            <el-table-column
                prop="see"
                label="操作">
                <template slot-scope="scope">
                    <el-button @click="handleClick(scope.row)" type="text" size="small">批卷</el-button>
                </template>
            </el-table-column>
            </template>
            <template v-slot:footer>
                <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="currentPage4"
                :page-sizes="[5, 10, 20,50,100]"
                :page-size="10"
                layout="total, sizes, prev, pager, next, jumper"
                :total="getsClassList.length">
                </el-pagination>
            </template>
        </showList>
    </div>
</template>
<script>
import showList from '../../../utils/showList'
import {mapActions, mapGetters} from 'vuex'
export default {
    props: {

    },
    components: {
        showList
    },
    data () {
        return {
            currentPage4: 1,
            pageSize: 10, // 条数,
            page: 1
        }
    },
    computed: {
        ...mapGetters(['getsClassList']),
        getList () { // 直接可以触发，返回一个截取后的数组
            // 分页
            return this.getsClassList.slice((this.page - 1) * this.pageSize, this.page * this.pageSize)
        }
    },
    methods: {
        ...mapActions(['getClassList']),
        handleSizeChange (val) {
            this.pageSize = val
        },
        handleCurrentChange (val) { // 改变页数
            this.page = val
        },
        handleClick (row) {
            window.localStorage.setItem('grade_name', row.grade_name)
            this.$router.push({name: 'classmate', params: {grade_id: row.grade_id}})
        }
    },
    created () {
        this.getClassList()
    },
    mounted () {
    }
}
</script>
<style scoped lang="">
    .listBox>.wrap{
        width:90%;
        height: auto;
        background:#fff;
        margin: 0 20px 20px 20px;
        padding: 24px;
        border-radius:20px;
    }
    .el-pagination{
        margin-top: 30px;
    }
</style>
