<template>
  <div class="addbox">
    <p>题目信息</p>
    <div class="adddiv">
      <p>题干</p>
      <div>
        <el-input v-model="input" placeholder="请输入试题信息"></el-input>
      </div>
    </div>
    <div class="adddiv">
      <p>项目主题</p>
      <quill-editor
      style='height:230px;margin-bottom:20px;'
      v-model='content'
      ref='myQuillEditor'
      :options='editorOption'
      @blur="onEditorBlur($event)" @focus="onEditorFocus($event)"
      @change="onEditorChange($event)">
    </quill-editor>
    </div>
    <div class="adddiv" style="margin-top:50px;">
      <p>请选择考试类型：</p>
      <el-form :inline="true" :model="formInline" class="demo-form-inline">
        <el-form-item class="from">
          <el-select v-model="formInline.region" placeholder="考试类型">
            <el-option v-for='(item,index) in resexamType.data' :key='index' :label='item.exam_name' :value="item.exam_name" ></el-option>
          </el-select>
        </el-form-item>
      </el-form>
    </div>
    <div class="adddiv">
      <p>请选择课程类型：</p>
       <el-form :inline="true" :model="formInline" class="demo-form-inline">
        <el-form-item class="from">
          <el-select v-model="formInline.regio" placeholder="活动区域">
            <el-option v-for='(item,index) in ressubject.data' :key="index" :label="item.subject_text" :value="item.subject_text"></el-option>
          </el-select>
        </el-form-item>
      </el-form>
    </div>
    <div class="adddiv">
      <p>请选择题目类型：</p>
       <el-form :inline="true" :model="formInline" class="demo-form-inline">
        <el-form-item class="from">
          <el-select v-model="formInline.regi" placeholder="活动区域">
            <el-option v-for='(item,index) in resgetQuestionsType.data' :key='index' :label="item.questions_type_text" :value="item.questions_type_text"></el-option>
          </el-select>
        </el-form-item>
      </el-form>
    </div>
     <div class="adddiv">
      <p>答案信息</p>
       <quill-editor
      v-model='conten'
      style='height:150px;margin-bottom:80px;'
      ref='myQuillEditor'
      :options='editorOption'
      @blur="onEditorBlur($event)" @focus="onEditorFocus($event)"
      @change="onEditorChange($event)">
    </quill-editor>
    </div>
    <el-button type="primary" @click="open2">点击添加</el-button>
  </div>
</template>
<script>
import axios from '../axios'
import {mapGetters, mapActions} from 'vuex'
export default {
    props: ['id'],
    components: {},
    data () {
        return {
            input: '', // 题干
            formInline: {
                user: '',
                region: '', // 考试类型
                regio: '', // 课程类型
                regi: ''// 题目类型
            },
            content: null, // 项目主题
            conten: null, // 答案信息
            editorOption: {},
            userid: ''
        }
    },
    computed: {
        ...mapGetters(['resexamType', 'resgetQuestionsType', 'ressubject'])
    },
    methods: {
        ...mapActions(['getexamType', 'gettype', 'getsubject']),
        init () {
            if (this.id) { // 代表更新试题
                axios.get('/api/exam/questions/condition', {params: {questions_id: this.id}}).then((data) => { // 编辑试题的渲染
                    this.input = data.data.data[0].title
                    this.content = data.data.data[0].questions_stem
                    this.conten = data.data.data[0].questions_answer
                    this.formInline.region = data.data.data[0].exam_name
                    this.formInline.regio = data.data.data[0].subject_text
                    this.formInline.regi = data.data.data[0].questions_type_text
                })
            } else { // 代表添加试题 获取内容
                this.input = ''
                this.content = ''
                this.conten = ''
                this.formInline.region = ''
                this.formInline.regio = ''
                this.formInline.regi = ''
                axios.get('/api/user/userInfo').then((data) => { // 获取用户
                    this.userid = data.data.data.user_id
                })
            }
        },
        subquestion () {
            this.$nextTick(() => {
                let constr = this.content.replace(/<[^>]+>/g, '')
                let con = this.conten.replace(/<[^>]+>/g, '')
                let regionid = this.resexamType.data.filter((item) => item.exam_name === this.formInline.region)
                let regioid = this.ressubject.data.filter((item) => item.subject_text === this.formInline.regio)
                let regiid = this.resgetQuestionsType.data.filter((item) => item.questions_type_text === this.formInline.regi)
                if (this.id) {
                    axios.put('/api/exam/questions/update', {questions_id: this.id, questions_type_id: regiid[0].questions_type_id, questions_stem: this.input, questions_answer: con, title: constr, subject_id: regioid[0].subject_id, exam_id: regionid[0].exam_id}).then((data) => { // 更新试题接口
                        console.log(data.data)
                    })
                } else { // 添加试题接口
                    if (this.input && this.content && this.conten && this.formInline.region && this.formInline.regio && this.formInline.regi) {
                        axios.post('/api/exam/questions', {questions_type_id: regiid[0].questions_type_id, questions_stem: this.input, questions_answer: con, title: constr, subject_id: regioid[0].subject_id, exam_id: regionid[0].exam_id, user_id: this.userid}).then((data) => {
                            console.log(data.data)
                        })
                    }
                }
            })
        },
        onEditorBlur () { // 失去焦点事件
        },
        onEditorFocus () { // 获得焦点事件
        },
        onEditorChange () { // 内容改变事件
        },
        open2 () {
            var _this = this
            this.$confirm('确认添加?', '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning',
                beforeClose: (action, instance, done) => {
                    if (action === 'confirm') {
                        console.log(instance)
                        _this.subquestion()
                    }
                    done()
                }
            }).then(() => {
                this.$message({
                    type: 'success',
                    message: '添加成功!'
                });
            }).catch(() => {
                this.$message({
                    type: 'info',
                    message: '取消添加'
                })
            });
        }
    },
    created () {
        this.init()
        this.getexamType()
        this.gettype()
        this.getsubject()
    },
    mounted () {
    }
};
</script>
<style scoped lang="">
*{
  box-sizing: border-box
}
div.addbox {
  width: 94%;
  height: auto;
  text-align: left;
  padding: 25px 20px 0 20px;
  background: #fff;
  margin-left: 3%;
  border-radius: 5px;
  font-size: 13px;
}
div.addbox > div.adddiv {
  width: 100%;
  height: auto;
  padding: 7px 0;
}
p {
  width: 100%;
  line-height: 35px;
}
div.addbox > div.adddiv > p > input {
  width: 40%;
  line-height: 35px;
  padding-left: 5px;
}
.el-button{
  margin:15px 0 25px 0
}
.el-form{
  margin-bottom:-20px;
}
</style>
