<template>
  <el-container>
    <el-header>
      <div class='headerLogo'>
        <img
          src='https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1551624718911&amp;di=4a7004f8d71bd8da84d4eadf1b59e689&amp;imgtype=0&amp;src=http%3A%2F%2Fimg105.job1001.com%2Fupload%2Falbum%2F2014-10-15%2F1413365052_95IE3msH.jpg'
          alt
        >
      </div>
      <el-dropdown @command="clearLogin">
        <span class="el-dropdown-link">
          <img
            src='https://cdn.nlark.com/yuque/0/2019/png/anonymous/1547609339813-e4e49227-157c-452d-be7e-408ca8654ffe.png?x-oss-process=image/resize,m_fill,w_48,h_48/format,png'
          >
          <span >{{user.user_name}}</span>
        </span>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item command="个人中心">个人中心</el-dropdown-item>
          <el-dropdown-item command="我的班级">我的班级</el-dropdown-item>
          <el-dropdown-item command="设置">设置</el-dropdown-item>
          <el-dropdown-item command="退出登录">退出登录</el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
    </el-header>
    <el-container>
      <el-aside width='200px'>
        <el-col :span='12'>
           <!-- 侧边栏 -->
            <my-aside v-model="headTit"></my-aside>
        </el-col>
      </el-aside>
      <el-main style='padding:0;'>
        <el-header class='topNav'>{{headTit}}</el-header>
        <router-view></router-view>
      </el-main>
    </el-container>
  </el-container>
</template>
<script>
import myAside from '../utils/aside'
import cookie from 'js-cookie'
import axios from 'axios'
export default {
    props: {},
    components: {
        myAside
    },
    data () {
        return {
            headTit: '',
            user: {}
        };
    },
    computed: {
    },
    methods: {
        clearLogin (command) {
            if (command === '退出登录') {
                cookie.remove('token')
                window.location.href = 'http://localhost:8080'
            }
        },
        getUser () {
            axios.get('/api/user/userInfo')
                .then(({data: {data}}) => {
                    this.user = data
                })
        }
    },
    created () {
        if (localStorage.tit) {
            this.headTit = localStorage.tit
        }
        this.getUser()
    },
    mounted () {
    }
};
</script>
<style lang=''>
.el-header {
  background-color: #fff;
  color: #333;
  line-height: 64px;
  padding: 0 50px;
  display: flex;
}
.el-header .headerLogo {
  flex: 1;
  display: flex;
  align-items: center;
}
.el-header .headerLogo img {
  width: 120px;
  height: 30px;
}
.el-dropdown span {
  width: 140px;
  height: 60px;
  display: flex;
  align-items: center;
}
.el-dropdown span img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 6px;
}
.el-container {
  height: 100%;
}
.el-aside {
  width: 200px;
  background: #001529;
  color: rgba(255, 255, 255, 0.65);
  text-align: center;
  height: 100%;
}
.el-col-12 {
  width: 200px;
}
.el-submenu__title {
  text-align: left;
  padding-left: 10px;
}
.el-main {
  background-color: #f0f2f5;
  color: #333;
  text-align: center;
  height: 100%;
  overflow-y: scroll;
}
.el-main .topNav {
  background-color: #f0f2f5;
  text-align: center;
  line-height: 60px;
  margin: 0;
  padding: 0 38px;
}
</style>
