<template>
    <div v-if="list.length">
        <el-menu
            default-active='2'
            class='el-menu-vertical-demo'
            background-color='#001529'
            text-color='#fff'
            active-text-color='#ffd04b'
            :unique-opened=true
            :default-active="$route.name"
          >
        <el-submenu :index='ind+""' :key="ind" v-for="(item,ind) in list[0].children">
              <template slot='title'>
                <i :class='item.icon'></i>
                <span>{{item.tit}}</span>
              </template>
              <el-menu-item-group>
                <el-menu-item :index="val.name" :key="`${ind}-${i}`" v-for="(val,i) in item.children" @click="handleClick(val.name, val.tit,ind,i)" v-if="val.tit">{{val.tit}}</el-menu-item>
              </el-menu-item-group>
            </el-submenu>
          </el-menu>
    </div>
</template>
<script>
import {mapGetters, mapActions} from 'vuex'
export default {
    props: [],
    components: {
    },
    data () {
        return {
            tit: '',
            paths: ''
        }
    },
    computed: {
        ...mapGetters(['list'])
    },
    methods: {
        ...mapActions(['getList']),
        handleClick (name, tit) {
            this.$router.push({name})
            localStorage.tit = tit
            this.tit = tit
            this.$emit('input', this.tit)
        }
    },
    created () {
        this.getList()
    },
    mounted () {
    }
}
</script>
<style scoped lang="">

</style>
