<template>
  <div>
      <el-dialog :title="tit" :visible.sync="dialogFormVisible">
        <slot name="box"></slot>
        <div slot="footer" class="dialog-footer">
            <el-button @click="toDialog">取 消</el-button>
            <el-button type="primary" @click="toFlag">确 定</el-button>
        </div>
        </el-dialog>
  </div>
</template>
<script>
export default {
    props: ['flag', 'tit', 'checkFlag', 'ruleForm'],
    components: {},
    data () {
        return {
            dialogFormVisible: true
        }
    },
    computed: {},
    methods: {
        toFlag () {
            this.$emit('setCls')
            this.dialogFormVisible = false
            this.$emit('update:flag', false)
            this.$emit('update:checkFlag', false)
        },
        toDialog () {
            this.dialogFormVisible = false
            this.$emit('update:checkFlag', false)
            this.$emit('update:ruleForm', {
                name: '',
                grdName: '',
                clsName: ''
            })
        }
    },
    watch: {
        dialogFormVisible (val) {
            this.$emit('update:flag', val)
            this.$emit('update:checkFlag', false)
            this.$emit('update:ruleForm', {
                name: '',
                grdName: '',
                clsName: ''
            })
        }
    },
    created () {},
    mounted () {}
}
</script>
<style scoped lang="">
</style>
