<template>
  <div class="wrap">
    <slot name="title">
    </slot>
    <el-table
      :data="list"
      class="table"
      stripe
      style="width: 100% height:auto;"
      :header-cell-style="{background:'#eef1f6',color:'#606266'}"
      >
      <slot name="header"></slot>
    </el-table>
    <slot name="footer"></slot>
  </div>
</template>
<script>
export default {
    props: ['list'],
    components: {},
    data () {
        return {
        }
    },
    computed: {},
    methods: {},
    created () {},
    mounted () {}
}
</script>
<style scoped lang="">
  .el-main{
    background: #f0f2f5;
  }
  .wrap{
    width: 95%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-sizing: border-box;
    background: #fff;
  }
  .el-button{
    float: left;
    margin: 10px 20px;
  }
  .el-table thead{
    background: #ccc!important;
  }
</style>
