<template>
  <div class="wrap">
    <show-list :list="list">
      <template v-slot:title>
        <el-button type="primary" @click="toFlag"> + 添加教室</el-button>
      </template>
      <template v-slot:header>
           <el-table-column
            prop="room_text"
            label="姓名"
            >
          </el-table-column>
          <el-table-column
            label="操作"
            style="text-align: center;"
            >
              <template slot-scope="scope">
                    <el-button @click="handleClick(scope.row)" type="text" size="small">删除</el-button>
              </template>
          </el-table-column>
      </template>
    </show-list>
    <my-dialog v-if="flag" :flag.sync='flag' :tit="tit" @setCls="toCls">
        <template v-slot:box>
            <el-form :model="from" label-width="100px" class="demo-dynamic">
            <el-form-item
              prop="name"
              label="教室号"
              :rules="[
                { required: true, message: '请输入教室号', trigger: 'blur' },
              ]"
            >
              <el-input v-model="from.name"></el-input>
            </el-form-item>
          </el-form>
        </template>
    </my-dialog>
  </div>
</template>
<script>
import showList from '@/utils/showList';
import myDialog from '@/utils/Dialog'
import axios from '@/axios'
export default {
    props: {},
    components: {
        showList,
        myDialog
    },
    data () {
        return {
            list: [],
            flag: false,
            from: {
                name: ''
            },
            tit: ''
        }
    },
    computed: {
    },
    methods: {
        handleClick (obj) {
            let data = {room_id: obj.room_id}
            axios.delete('/api/manger/room/delete', {data})
                .then(({data}) => {
                    if (data.code) {
                        this.$notify({
                            title: '成功',
                            message: data.msg,
                            type: 'success'
                        })
                        this.setList()
                    }
                })
        },
        toFlag () {
            this.flag = true
            this.tit = '添加教室'
        },
        toCls () {
            if (this.from.name) {
                let data = {room_text: this.from.name}
                axios.post('/api/manger/room', data)
                    .then(({data}) => {
                        console.log(data)
                        if (data.code) {
                            this.$notify({
                                title: '成功',
                                message: data.msg,
                                type: 'success'
                            })
                            this.setList()
                        }
                    })
            }
        },
        setList () {
            axios.get('/api/manger/room')
                .then(({data: {data}}) => {
                    this.list = data.sort((a, b) => a.room_text * 1 - b.room_text * 1)
                })
        }
    },
    created () {
        this.setList()
    },
    mounted () {}
};
</script>
<style scoped lang="">
</style>
