<template>
    <div class="detailBox">
        <ul>
            <li v-for="(item,index) in $route.params.list.questions" :key="index">
                <h2>{{index+1}}.     {{item.title}}</h2>
                <div>
                    <pre>
                        <markDown :source="item.questions_stem" v-hljs></markDown>
                    </pre>
                </div>
            </li>
        </ul>
    </div>
</template>
<script>
import markDown from 'vue-markdown'
export default {
    props: {

    },
    components: {
        markDown
    },
    data () {
        return {

        }
    },
    computed: {

    },
    methods: {
    },
    created () {

    },
    mounted () {

    }
}
</script>
<style scoped lang="">
    .detailBox{
        width:90%;
        margin:0 auto;
        background:#fff;
        border-radius:20px;
        padding: 20px;
    }
    .detailBox>ul>li{
        width:100%;
        height: auto;
        border:1px solid #ccc;
        margin-bottom: 20px;
        text-align: left;
        padding: 10px;
    }
    .detailBox>ul>li>h2{
        margin-bottom: 10px;
        font-size: 16px;
    }
    .detailBox>ul>li>div{
        font-size: 14px;
    }
    pre {
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
        color: #657b83;
        background: #f3f3f3;
        margin-top: 10px;
        padding: 15px;
        box-sizing: border-box;
        overflow: hidden;
        border-radius: 5px;
    }
</style>
