<template>
  <div>
    <div class='searchTop'>
      <el-form :inline='true' :model='formInline' class='demo-form-inline'>
        <el-form-item label='考试类型'>
          <el-select v-model='formInline.exam' placeholder='考试类型'>
            <el-option
              :label='item.exam_name'
              :value='item.exam_name'
              v-for='(item,index) in getsType'
              :key='index'
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label='课程'>
          <el-select v-model='formInline.course' placeholder='课程'>
            <el-option
              :label='item.subject_text'
              :value='item.subject_text'
              v-for='(item,index) in getsCourse'
              :key='index'
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item>
          <el-button type='primary' @click='onSubmit'>查询</el-button>
        </el-form-item>
        <el-form-item>
          <el-button type='primary' @click='onDel'>重置</el-button>
        </el-form-item>
      </el-form>
    </div>
    <div class='searchBottom'>
      <el-tabs v-model='formInline.activeName2' type='card'>
        <el-tab-pane label='全部' name='first'>
          <el-table :data='filterClass.length ? filterClass : (getFilterList?getFilterList:[])' style='width: 100%'>
            <el-table-column label='试卷信息' width='200'>
              <template slot-scope='scope'>
                <div>
                  <p>{{scope.row.title.title}}</p>
                  <p>{{scope.row.title.duration}}</p>
                </div>
              </template>
            </el-table-column>
            <el-table-column label='班级' width='180'>
                <!-- 作用于插槽渲染页面 -->
                <template slot-scope="scope">
                    <div>
                        <p>{{scope.row.grade_name.classes}}</p>
                        <p>
                            <span v-for="(item,index) in scope.row.grade_name.grade_name" :key="index" class="classifyStyle">{{item}}</span>
                        </p>
                    </div>
                </template>
            </el-table-column>
            <el-table-column label='创建人' prop="user_name"></el-table-column>
            <el-table-column label='开始时间' prop='start_time'></el-table-column>
            <el-table-column label='结束时间' prop="end_time"></el-table-column>
            <el-table-column label='操作' prop="operation">
                <template slot-scope="scope">
                  <el-button @click="handleClick(scope.row)" type="text" size="small">详情</el-button>
                </template>
            </el-table-column>
          </el-table>
        </el-tab-pane>
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          :current-page="currentPage4"
          :page-sizes="[5, 10, 20, 50, 100]"
          :page-size="5"
          layout="total, sizes, prev, pager, next, jumper"
          :total="filterClass.length?filterClass.length:getsList.length">
        </el-pagination>
        <el-tab-pane label='进行中' name='second'></el-tab-pane>
        <el-tab-pane label='已结束' name='third'></el-tab-pane>
      </el-tabs>
    </div>
  </div>
</template>
<script>
import { mapActions, mapGetters } from 'vuex';
import axios from '../../../axios'
import moment from 'moment'
import {filteList} from '../../../utils/index'
export default {
    props: {},
    components: {},
    data () {
        return {
            formInline: {
                exam: '',
                course: '',
                activeName2: 'first'
            },
            currentPage4: 1,
            detailList: [],
            page: 1,
            pageSize: 5,
            filterClass: []
        };
    },
    computed: {
        ...mapGetters(['getsType', 'getsCourse', 'getsList']),
        getFilterList () { // 分页
            return this.getsList.slice((this.page - 1) * this.pageSize, this.page * this.pageSize)
        }
    },
    methods: {
        onSubmit () {
            // 根据条件查询(课程 , 考试类型)
            this.filterClass = filteList(this.getsList, ['exam_name', this.formInline.exam], ['subject_text', this.formInline.course])
            if (!this.filterClass.length) {
                this.$notify({
                    title: '无匹配试卷！',
                    type: 'error'
                })
            }
        },
        onDel () { // 重置
            this.formInline.course = ''
            this.formInline.exam = ''
        },
        ...mapActions(['getType', 'getCourse', 'getList']),
        handleClick (row) {
            axios.get(`/api/exam/exam/${row.exam_exam_id}`).then(res => {
                this.detailList = res.data.data
                this.$router.push({name: 'detail', params: {id: row.exam_exam_id, list: this.detailList}})
            })
        },
        handleSizeChange (val) {
            this.pageSize = val
        },
        handleCurrentChange (val) {
            this.page = val
        }
    },
    created () {
        this.getType();
        this.getCourse();
        this.getList();
    },
    mounted () {},
    watch: {
        getsList (newVal) { // 有两个参数(newVal,oldVal),操作newVal,返回操作后的newVal
            newVal.forEach(item => {
                let time = item.end_time - item.start_time;
                let oHours = Math.floor((time / 1000 / 60 / 60) % 24);// 时
                let oMinutes = Math.floor((time / 1000 / 60) % 60); // 分
                let oSeconds = Math.floor((time / 1000) % 60); // 秒
                // let oMillionSeconds = Math.floor(time % 1000); // 毫秒
                let duration = `${oHours}:${oMinutes}:${oSeconds}`;
                item.start_time = moment(item.start_time * 1).format(
                    'YYYY-MM-DD HH:MM:SS'
                );
                item.end_time = moment(item.end_time * 1).format(
                    'YYYY-MM-DD HH:MM:SS'
                );
                item.grade_name = {classes: '考试班级', grade_name: item.grade_name}
                item.title = {title: item.title, duration: '考试时间:' + duration + '        ' + item.number + '道题作弊0分'}
            });
            return newVal;
        }
    }
};
</script>
<style lang=''>
.searchTop {
  width: 90%;
  height: 120px;
  background: #fff;
  margin: 0 auto;
  padding: 34px;
  border-radius: 20px;
  text-align: left;
}
.searchBottom {
  width: 90%;
  background: #fff;
  padding: 24px;
  border-radius: 20px;
  margin: 20px auto;
}
.classifyStyle{
    margin: 0 5px 0 0;
}
.examDetail{
  color: blue!important;
  cursor: pointer;
}
</style>
