<template>
  <div id='app'>
    <router-view/>
  </div>
</template>

<script>
export default {
    name: 'App'
}
</script>

<style>
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration:none;
    list-style:none;
    font-size: 12px;
  }
  img{
    width: 300px;
    height: 300px;
  }
  #app,html,body{
    width:100%;
    height:100%;
    overflow: hidden;
  }
</style>
