<template>
  <div class="wrap">
    <el-form
      :model="ruleForm"
      status-icon
      :rules="rules"
      ref="ruleForm"
      label-width="100px"
      class="domeForm"
    >
      <el-form-item  prop="name" class="ipt" label-width="0">
          <i class="el-icon-user iptIcon"></i>
        <el-input v-model="ruleForm.name" placeholder="请输入用户名"></el-input>
      </el-form-item>
      <el-form-item  prop="pass" class="ipt" label-width="0">
        <i class="el-icon-key iptIcon"></i>
        <el-input type="password" v-model="ruleForm.pass" autocomplete="off" placeholder="请输入密码"> </el-input>
      </el-form-item>
      <el-form-item  label-width="0" class="check">
          <p class="cp"><el-checkbox label="记住密码" name="type" v-model="flag"></el-checkbox>
          <a href="javascript:void(0)">忘记密码</a>
          </p>
      </el-form-item>
      <el-form-item  label-width="0">
        <el-button type="primary" @click="submitForm('ruleForm')" >提交</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>
<script>
import axios from '@/axios'
import cookie from 'js-cookie'
import { Notification } from 'element-ui';
import {mapActions} from 'vuex'
export default {
    props: {},
    components: {},
    data () {
        var validatePass = (rule, value, callback) => {
            if (value === '') {
                callback(new Error('请输入密码'))
            } else {
                if (this.ruleForm.checkPass !== '') {
                    this.$refs.ruleForm.validateField('checkPass')
                }
                callback()
            }
        }
        return {
            ruleForm: {
                pass: '',
                name: ''
            },
            rules: {
                pass: [
                    { validator: validatePass, trigger: 'blur' }
                ],
                name: [
                    { validator: validatePass, trigger: 'blur' }
                ]
            },
            flag: false
        }
    },
    computed: {},
    methods: {
        ...mapActions(['getList']),
        submitForm (formName) {
            this.$refs[formName].validate((valid) => {
                if (valid) {
                    if (this.ruleForm.name && this.ruleForm.pass) {
                        axios.post('/api/user/login', {
                            user_name: this.ruleForm.name,
                            user_pwd: this.ruleForm.pass
                        })
                            .then(res => {
                                if (res.data.code) {
                                    this.getList()
                                    cookie.set('token', res.data.token)
                                    this.$router.push('/home')
                                } else {
                                    Notification.error({
                                        title: res.data.msg
                                    })
                                }
                                if (this.flag) {
                                    this.toFlag()
                                } else {
                                    localStorage.user = ''
                                }
                            })
                    }
                } else {
                    Notification.error({
                        title: '账号或密码不能为空'
                    })
                    return false
                }
            })
        },
        resetForm (formName) {
            this.$refs[formName].resetFields()
        },
        toFlag () {
            if (this.flag) {
                window.localStorage.user = JSON.stringify(this.ruleForm)
            }
        }
    },
    created () {
        this.$nextTick(() => {
            if (localStorage.user) {
                this.flag = true
                this.ruleForm = JSON.parse(localStorage.user)
            }
        })
    },
    mounted () {}
}
</script>
<style scoped lang="">
*{
    text-decoration: none;
}
.wrap{
    width: 100%;
    height: 100%;
    background: url("https://img.alicdn.com/tps/TB1h9xxIFXXXXbKXXXXXXXXXXXX.jpg");
    background-size: 100% 100%;
}
.domeForm{
    width: 400px;
    height: 250px;
    background: rgba(255, 255, 255, .9);
    position: absolute;
    top: 20%;
    right: 10%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.ipt{
    position: relative;
}
.iptIcon{
    position: absolute;
    z-index: 99999;
    left: 15px;
    top: 15px;
}
.check{
    margin: 10px 0;
}
.el-input{
    width: 100%;
    box-sizing: border-box;
}
.el-input :nth-child(1) {
    padding-left: 40px;
}
.el-form-item__error {
    background: #000;
}
.el-button{
    width: 100%;
    margin-left: 50%;
    transform: translate(-50%)
}
.cp{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
</style>
