<template>
    <div class="detailBox">
        <ul>
            <li>
                <span>出题人：{{$route.query.data.user_name}}</span>
                <h3>题目信息：</h3>
                <div class="exam_btmbox_div">
                  <el-tag size="mini">{{$route.query.data.questions_type_text}}</el-tag>
                  <el-tag type="success" size="mini">{{$route.query.data.subject_text}}</el-tag>
                  <el-tag type="warning" size="mini">{{$route.query.data.exam_name}}</el-tag>
                </div>
                <h4>{{$route.query.data.title}}</h4>
                <div class="content">
                    <pre>
                        <markDown :source="$route.query.data.questions_stem" style="height: 400px; overflow: auto;"></markDown>
                    </pre>
                </div>
            </li>
        </ul>
        <ul>
            <li>
                <h3>答案信息：</h3>
                <div class="content">
                    <pre>
                        <markDown :source="$route.query.data.questions_answer" style="height: 495px; overflow: auto;"></markDown>
                    </pre>
                </div>
            </li>
        </ul>
    </div>
</template>
<script>
import markDown from 'vue-markdown'
export default {
    props: {},
    components: {
        markDown
    },
    data () {
        return {}
    },
    computed: {},
    methods: {},
    created () {
    },
    mounted () {}
}
</script>
<style scoped lang="">
    .detailBox{
        width:90%;
        margin:0 auto;
        background:#fff;
        border-radius:20px;
        padding: 20px;
        display:flex;
    }
    .detailBox>ul{
        width:50%;
    }
    .detailBox>ul>li{
        width:100%;
        height: auto;
        text-align: left;
        padding: 10px;
    }
    .detailBox>ul>li>h3{
        line-height:40px;
        font-size: 16px;
    }
    .detailBox>ul>li>span{
      color:#666;
      line-height:30px;
    }
    .detailBox>ul>li>div.content{
        font-size: 14px;
    }
    pre {
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
        color: #657b83;
        background: #f3f3f3;
        margin-top: 10px;
        padding: 15px;
        box-sizing: border-box;
        overflow: hidden;
        border-radius: 5px;
    }
    .exam_btmbox_div{
      width:100%;
      margin:10px 0 18px 0;
    }
</style>
