<template>
    <div class="addDetailTop">
        <button @click="addNewExam">添加新题</button>
        <transition>
            <div class="dialog" v-if="flag">
                <div class="dialogLeft" @click="flag=false"></div>
                <div class="dialogRight">
                    <ul>
                        <li v-for="(item,index) in getsExamList" :key="index">
                            <h2><span>{{index+1}}.     {{item.title}}</span><button @click="addList(item)">添加</button></h2>
                            <div>
                                <!-- pre 元素可定义预格式化的文本。被包围在 pre 元素中的文本通常会保留空格和换行符 -->
                                <pre>
                                    <markDown :source="item.questions_stem" v-hljs></markDown>
                                </pre>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </transition>
        <h1>{{$route.params.data.title}}</h1>
        <p>考试时间: {{durationTime}}   监考人:刘于
        开始考试时间: <span>
            {{startTime}}
        </span>
        阅卷人:刘于</p>
        <ul>
            <li v-for="(item,index) in $route.params.data.questions" :key="index">
                <h1>
                    <span>{{index+1}}.       {{item.title}}</span>
                    <el-button type="text" @click="del(item)">
                        删除
                    </el-button>
                    <el-dialog
                    title="确认提示"
                    :visible.sync="centerDialogVisible"
                    width="30%"
                    center>
                        <span>是否要删除该题目?</span>
                        <span slot="footer" class="dialog-footer">
                            <el-button @click="centerDialogVisible = false">取 消</el-button>
                            <el-button type="primary" @click="delQue">确 定</el-button>
                        </span>
                    </el-dialog>
                </h1>
                <pre>
                    <markDown :source="item.questions_stem" v-hljs></markDown>
                </pre>
            </li>
        </ul>
        <el-button type="primary" @click="submitExam">创建试卷</el-button>
    </div>
</template>
<script>
import markDown from 'vue-markdown'
import moment from 'moment'
import axios from '../../../axios'
import {mapActions, mapGetters} from 'vuex'
export default {
    props: {

    },
    components: {
        markDown
    },
    data () {
        return {
            centerDialogVisible: false,
            index: '',
            flag: false,
            list: [],
            addLists: []
        }
    },
    computed: {
        startTime () {
            return moment(this.$route.params.data.start_time * 1).format(
                'YYYY-MM-DD HH:MM:SS'
            )
        },
        duration () {
            return this.$route.params.data.end_time - this.$route.params.data.start_time
        },
        durationTime () {
            let date = new Date(this.duration * 1)
            let durationtime = date.getHours() + '小时' + date.getMinutes() + '分'
            return durationtime
        },
        ...mapGetters(['getsExamList'])
    },
    methods: {
        del (item) {
            this.centerDialogVisible = true
            this.index = this.$route.params.data.questions.findIndex(val => val.questions_id === item.questions_id)
        },
        delQue () {
            this.centerDialogVisible = false
            this.$route.params.data.questions.splice(this.index, 1)
        },
        submitExam () {
            if (this.$route.params.data.questions.length === this.$route.params.data.number) {
                axios.put(`/api/exam/exam/${this.$route.params.data.exam_exam_id}`, {
                    question_ids: JSON.stringify(this.$route.params.data.questions.map(item => item.questions_id))
                }).then(() => {
                    this.$router.push({name: 'examList'})
                })
            } else {
                alert('试题量不够')
            }
        },
        addNewExam () {
            this.flag = true
        },
        ...mapActions(['getExamList', 'getList']),
        // filterExamList () {
        //     this.getsExamList.map(item => { // 循环所有的试题
        //         if (!this.$route.params.data.questions.map(val => val.questions_id).includes(item.questions_id)) {
        //             // 找到不包含当前这个试卷列表的所有试题,push到list里
        //             this.list.push(item)
        //         }
        //     })
        // },
        addList (item) {
            let ind = this.$route.params.data.questions.findIndex(val => val.questions_id === item.questions_id)
            if (ind === -1) { // 去重
                if (this.$route.params.data.questions.length < this.$route.params.data.number) { // 判断问题的长度和要求的题量
                    this.$route.params.data.questions.push(item)
                }
            }
        }
    },
    created () {
        this.getExamList()
        // this.filterExamList()
    },
    mounted () {

    },
    watch: {
    }
}
</script>
<style scoped lang="">
    .addDetailTop{
        width:90%;
        height:auto;
        background:#fff;
        border-radius:20px;
        margin:0 auto;
        padding: 20px 0 0 50px;
        text-align: left;
        position: relative;
    }
    .addDetailTop>button:nth-of-type(1){
        width: 60px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        border:1px solid #ccc;
        background:#fff;
        outline: 0;
    }
    .addDetailTop>ul>li{
        width: 95%;
        height:auto;
        border:1px solid #ccc;
        padding: 20px;
        font-size: 16px;
        margin-bottom: 15px;
        text-align: left;
    }
    .addDetailTop>h1{
        font-size: 18px;
        text-align: center;
        margin-bottom: 15px;
    }
    .addDetailTop>p{
        margin-bottom: 20px;
        font-size: 14px;
    }
    .addDetailTop>p span{
        font-size: 14px;
    }
    .addDetailTop>ul h1{
        display: flex;
        align-items: center;
    }
    .addDetailTop>ul h1 span{
        font-size: 14px;
    }
    .addDetailTop>ul h1 span:nth-of-type(1){
        flex:1;
    }
    .addDetailTop .dialog{
        width:100%;
        height: 100%;
        display: flex;
        position: fixed;
        left: 0;
        top: 0;
    }
    .addDetailTop .dialog .dialogLeft{
        width:40%;
        height: 100%;
        background:rgba(0, 0, 0, 0.3);
    }
    .addDetailTop .dialog .dialogRight{
        width:60%;
        height: 100%;
        overflow: auto;
        padding: 20px;
        background:#fff;
    }
    .addDetailTop .dialog .dialogRight>ul>li{
        width:100%;
        height: auto;
        border:1px solid #ccc;
        margin-bottom: 20px;
        text-align: left;
        padding: 10px;
    }
    .addDetailTop .dialog .dialogRight>ul>li>h2{
        margin-bottom: 10px;
        font-size: 16px;
        display: flex;
    }
    .addDetailTop .dialog .dialogRight>ul>li>h2 span{
        flex:1;
    }
    .addDetailTop .dialog .dialogRight>ul>li>h2 button{
        width: 60px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        border:1px solid #ccc;
        background:#fff;
        outline: 0;
    }
    .addDetailTop .dialog .dialogRight>ul>li>div{
        font-size: 14px;
    }
    .formatting{
        font-size: 16px;
    }
    .v-enter,.v-leave-to{
        transform: translateX(100%)
    }
    .v-enter-to,.v-leave{
        transform: translateX(0)
    }
    .v-enter-active,.v-leave-active{
        transition: all .5s ease;
    }
    pre {
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
        color: #657b83;
        background: #f3f3f3;
        margin-top: 10px;
        padding: 15px;
        box-sizing: border-box;
        overflow: hidden;
        border-radius: 5px;
    }
</style>
